@use "spacing";

@mixin radius($k) {
    border-radius: spacing.size($k);
}

@mixin width($k: 1) {
    border-width: spacing.$base * $k;
}

@mixin width-l($k: 1) {
    border-left-width: spacing.$base * $k;
}

@mixin width-r($k: 1) {
    border-right-width: spacing.$base * $k;
}

@mixin width-t($k: 1) {
    border-top-width: spacing.$base * $k;
}

@mixin width-b($k: 1) {
    border-bottom-width: spacing.$base * $k;
}
