//$background: #292F33;
//$copy: white;
//
//$accents: (
//    100: #344857,
//    200: #37678A,
//    300: #267EBD,
//    400: #008CF0,
//);

//$background: #34709B;
//$copy: white;
//
//$accents: (
//    100: #008CF0,
//    200: #F08F00,
//    300: #F0BF00,
//    400: #00F0D3,
//);

$background: #363B57;
$copy: white;

$accents: (
    100: #5F647A,
    200: #9FA6CC,
    300: #7F85A3,
    400: #BBC3F0,
);
