$base: 4px;

@function size($k: 1) {
    @return $base * $k;
}

@mixin padding-inline($k: 1) {
    padding-left: size($k);
    padding-right: size($k);
}

@mixin padding-block($k: 1) {
    padding-top: size($k);
    padding-bottom: size($k);
}

@mixin padding($k: 1) {
    padding: size($k);
}

@mixin margin-x($k: 1) {
    margin-left: size($k);
    margin-right: size($k);
}

@mixin margin-y($k: 1) {
    margin-top: size($k);
    margin-bottom: size($k);
}

@mixin margin($k: 1) {
    margin: size($k);
}
