$base: 4px;

@function value($k: 1) {
    @return $base * $k;
}

@mixin p-x($k: 1) {
    padding-inline: value($k);
}

@mixin p-y($k: 1) {
    padding-block: value($k);
}

@mixin p($k: 1) {
    padding: value($k);
}

@mixin m-x($k: 1) {
    margin-inline: value($k);
}

@mixin m-y($k: 1) {
    margin-block: value($k);
}

@mixin m($k: 1) {
    margin: value($k);
}

@mixin space-x($k: 1) {
    & > * + * {
        margin-left: value($k);
    }
}

@mixin space-y($k: 1) {
    & > * + * {
        margin-top: value($k);
    }
}
