@use "../utilities/colors";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:wght@400;700&display=swap');

$heading-font: 'Playfair Display', serif;
$body-font: 'Inter', serif;

:root {
    --font-heading: #{$heading-font};
    --font-body: #{$body-font};
    --colors-copy: #{colors.$copy};
}

* {
    font-family: var(--font-body);
    font-weight: 300;
    color: var(--colors-copy);
}
