@use "utilities/breakpoints";
@use "utilities/spacing";
@use "utilities/typography";

@use "components/gradient";
@use "components/page";
@use "components/nav";
@use "components/button";
@use "components/card";
@use "components/section";
@use "components/portfolio-item";

@use "pages/home";

@import "modern-normalize/modern-normalize.css";


:root {
    --spacing-base: spacing.$base;
}

main {
    position: relative;
    z-index: 1;
    padding-block: spacing.value(16);
}

.container {
    margin-left: auto;
    margin-right: auto;

    @each $screen, $size in breakpoints.$screens {
        @include breakpoints.media($screen) {
            max-width: $size;
        }
    }
}
