@use "utilities/breakpoints";
@use "utilities/sizing";

@use "components/gradient";
@use "components/page";
@use "components/nav";
@use "components/button";

@import "modern-normalize/modern-normalize.css";

:root {
    --sizing-base: sizing.$base;
}

main {
    position: relative;
    z-index: 1;
    padding-top: sizing.size(16);
}

.container {
    margin-left: auto;
    margin-right: auto;

    @each $screen, $size in breakpoints.$screens {
        @include breakpoints.media($screen) {
            max-width: $size;
        }
    }
}
