@use "sass:color";
@use "sass:map";

@use "../utilities/spacing";
@use "../utilities/border";
@use "../utilities/colors";

$bg: colors.$black;

button, .button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    border-radius: spacing.value(8);

    &.primary {
        background-color: $bg;
        color: color.invert($bg);
        padding-block: spacing.value(3);
        padding-inline: spacing.value(6);
        box-shadow: 0 0 7px rgba(0, 0, 0, 0);

        transition: background-color 150ms, transform 150ms, box-shadow 150ms;
        transform: translateY(0) translateZ(0);

        &:hover {
            background-color: color.adjust($bg, $alpha: 0.2);
            transform: translateY(spacing.value(-1)) translateZ(0);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        }
    }

    &.large {
        padding-block: spacing.value(4);
        padding-inline: spacing.value(8);
        font-size: 1.5rem;
    }

    &.bold {
        font-weight: 600;
    }
}
