@use 'sass:map';
@use 'sass:color';
@use '../utilities/colors';
@use '../utilities/spacing';
@use '../utilities/border';

$bg: colors.$muted;

.card {
    --card-bg-color: #{$bg};

    display: flex;
    flex-direction: column;

    padding: spacing.value(8) spacing.value(8);
    background-color: var(--card-bg-color);
    border-radius: map.get(border.$radius-scale, base);

    .card-title {
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: spacing.value(4);
        margin-bottom: spacing.value(6);
    }

    .card-content {
        line-height: 1.5;
        font-size: 1rem;
        color: color.adjust(colors.$copy, $lightness: -20%);
    }

    .card-footer {
        margin-top: auto;
    }
}
