@use "sass:color";
@use '../utilities/colors';

.page {
    padding: 4rem;
    min-height: 60vh;
    border-radius: 12px;
    background: linear-gradient(
            color.adjust(colors.$background, $alpha: -0.7) 0,
            color.adjust(colors.$background, $alpha: -0.5) 30vh,
            color.adjust(colors.$background, $alpha: -0.2) 40vh,
            colors.$background 60vh,
    );
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
