.page {
    padding: 4rem;
    min-height: 60vh;
    border-radius: 12px;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 1) 400px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
